.about {
  position: relative;

  &__wrapper {
    display: flex;
    align-items: center;
  }

    &__images {
        display: flex;
        gap: 1.875rem; /* 30px */
    }

    &__content {
        display: block;
        width: 31.25rem; /* 500px */
        margin-left: 4rem; /* 64px */
    }

    &__eyebrow {
        margin-bottom: 1.25rem; /* 20px */
    }

    &__title {
        color: var(--color-text-primary);
        margin-bottom: 1.25rem; /* 20px */
    }

    &__text {
        color: var(--color-text-secondary);
        margin-bottom: 2.1875rem; /* 35px */

        &--lead {
        margin-bottom: 1.25rem; /* 20px */
        }
    }
}
