.barbers {
  position: relative;
 
  &__eyebrow {
    margin-bottom: 1.25rem; /* 20px */
  }

  &__title {
    display: inline-flex;
    color: var(--color-text-primary);
  }

  &__list {
    display: flex;
    gap: 1.875rem; /* 30px */
    margin-top: 2.75rem; /* 44px */
  }

  &__card {
    display: flex;
    flex-direction: column;
    width: 23.125rem; /* 370px */
  }

  &__photo {
    display: block;
    width: 100%;
    height: auto;
  }

  &__info {
    text-align: center;
    margin-top: 2.0625rem; /* 33px */
  }

  &__name {
    line-height: 1.19;
    color: var(--color-text-primary);
  }

  &__role {
    line-height: 1.19;
    color: var(--color-accent);

    margin: 0.6875rem 0 2.75rem; 
    /* 11px 0 44px */
  }

  &__social {
    display: flex;
    justify-content: center;
    gap: 2.1875rem; /* 35px */
  }

  &__social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1.25rem;  /* 20px */
    height: 1.25rem; /* 20px */

    border-radius: 50%;
    color: var(--color-text-primary);

    transition: fill 0.3s ease;

    &:hover {
      fill: var(--color-accent);
    }
  }
}