.container {
  max-width: 1280px; /* 1280px при 16px, но пользовательские настройки уважает */
  margin-inline: auto;
  padding-inline: 54px;  
}

@media (max-width: 768px) {
  .container {
    padding-inline: 39px;
  }
}