.header {  
  position: absolute;
  inset: 0 0 auto 0; // -- top: 0; left: 0; width: 100%;
  z-index: 10;  
  padding-bottom: 2.5rem; // -- 40px;
  pointer-events: none;

  .container {
    position: relative;
    height: 42.5rem; // -- 680px;
    display: flex;
    align-items: flex-start;
  }

  a,
  button,
  nav {
    pointer-events: auto;
  }

  &__sidebar {  
    position: absolute;
    top: 0;
    left: 0;
    width: 9.625rem; // -- 154px;
    height: 42.5rem; // -- 680px;
    padding: 2rem 0 2.5rem 2.1875rem; // -- /* 32px 0 40px 35px */
  
    background: var(--color-white);
    color: var(--color-text-primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    pointer-events: auto;  
  }

  &__nav {
    padding: 3rem 0 0 8.625rem; /* 48px 0 0 138px */    

    &-list {
      display: flex;    
      align-items: center;
      gap: 1.5rem; /* 24px */    
    }

    &-link {
      color: var(--color-white);
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 0.75rem; /* 12px */
      letter-spacing: 0.08em;
      text-transform: uppercase;
    }
  }

  /* Правая зона */
  &__actions {
    display: flex;
    align-items: center;
    gap: 2.5rem; /* 40px */
    margin-left: auto; /* прижимает вправо */
    margin-right: 0.3125rem; /* 5px */
    padding: 2.375rem 0 0 0.5rem; /* 38px 0 0 8px от правого края фона */
  }

  &__phone {
    color: var(--color-white);
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.75rem;
    letter-spacing: 0.11em;
    text-transform: uppercase;
  }

  &__socials {
    display: flex;
    flex-direction: column;  
    align-items: center;
    gap: 1.5rem; /* 20px */

      &-link {
      writing-mode: vertical-rl;
      transform: rotate(180deg);

      display: inline-flex;
      align-items: center;
      gap: 2.5rem; /* 40px */

      color: var(--color-text-primary);
      font-family: "Open Sans", sans-serif;
      font-weight: 600;
      font-size: 0.6875rem; /* 11px */
      letter-spacing: 0.23em;

  }

  &-item:nth-child(2) &-link::before {
      content: "";
      display: block;
      width: 1px;
      height: 3.75rem; /* 60px */
      background: var(--color-text-primary);
      flex: 0 0 auto;
    }
  }
}
