.hero {
  height: 42.5rem; /* 680px */
  position: relative;  
  overflow: hidden;    
  
  > .container {
      position: relative;
      height: 100%;       
  }

  &__slider {
    position: absolute;  
    inset: 0 3.5rem 0 9.625rem; /* 0 56px 0 154px */
    width: 66.9375rem; /* 1071px */

    background: cover / cover no-repeat;// --  background-size: cover;  background-position: center; background-repeat: no-repeat;    
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background: rgba(25, 28, 38, 0.20);
      z-index: 2;
      pointer-events: none;
    }
  }

  &__wrapper {
    position: relative;
    z-index: 3;
    height: 100%;  
    display: flex;

    flex-direction: column;
    padding: 17rem 3.5rem 2.5rem calc(9.625rem + 2.5rem);
    /* top: 272px right: 56px bottom: 40px left: calc(154px + 40px) sidebar + inner spacing --*/    
  }

  &_content {
    max-width: 32.5rem; /* 520px */
  }

  &__eyebrow {  
    margin-bottom: 1.625rem; /* 26px */
  }

/* -- H1 */
  &__title {
    color: var(--color-white); 
    margin: 0 0 1rem; /* 16px */
  }

  &__desc-line {
    margin: 0;
  }

/* -- Полоски пагинации */
  &__pagination {  
    position: absolute;   
    top: 20.3125rem; /* 325px */
    right: 0.75rem; /* 12px */

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.75rem; /* 12px */
  }

  &__pagination-btn {
    width: 0.5rem; /* 8px */
    height: 2px;
    background: var(--color-text-muted);  
    cursor: pointer;

    &--active {
      width: 1.125rem; /* 18px */
      background: var(--color-white);
    }

  }

/* -- Controls — справа снизу */
  &__controls {
    position: absolute;  
    right: 0.125rem; /* 2px */
    bottom: 1.5625rem; /* 25px */
    display: flex;
    gap: 0.25rem; /* 4px */
    z-index: 15;   
  }

/* -- Back/Forward */
  &__control {
    position: relative;
    background: none;
    border: 0;
    padding-bottom: 0.9375rem; /* 15px */

    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.6875rem; /* 11px */
    letter-spacing: 0.11em;  
    display: inline-flex;
    flex-direction: column;  
     gap: 0.5rem; /* 8px */
    cursor: pointer;

  /* -- Общая “стрелка”: линия */
    &::after {
      content: "";
      display: inline-block;
      width: 4.25rem; /* 68px длина линии */
      height: 1px;  
      background: currentColor;
    }

    &--prev {
      color: var(--color-text-muted);  
      align-items: flex-start;
      padding-left: 6px;
    }

    &--next {
      color: var(--color-white);  
      align-items: flex-end;
      padding-right: 28px;
    }
  }

}






