.portfolio {
      padding-top: 130px;
    padding-bottom: 130px;    
    position: relative;
}

.portfolio__eyebrow {
    color: var(--color-text-primary);
    text-transform: uppercase;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 0.6875rem; //11px
    letter-spacing: 0.12em;
    position: relative;
    padding-left: 80px;
    margin-bottom: 44px;
}

.portfolio__eyebrow::before {
    position: absolute;
    content: "";
    display: inline-block;
    width: 60px;
    height: 1px;
    background: var(--color-text-primary);
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.portfolio__items {
    display: flex;
    gap: 30px;
}

.portfolio__photo {
  display: block;
  width: 270px;
  height: 360px;
  object-fit: cover;
}