.portfolio {
  position: relative;  
    
  &__eyebrow {
    margin-bottom: 2.75rem; /* 44px */

  }

  .portfolio__eyebrow {   
      margin-bottom: 44px;
  }

  &__items {
      display: flex;
      gap: 1.875rem; /* 30px */
  }

  &__photo {
    display: block;
    width: 16.875rem; /* 270px */
    height: 22.5rem;  /* 360px */
    object-fit: cover;
  }
}