.services {
    position: relative;
    
    background-image: url("../../assets/images/services/services-bg.webp");
    background: center / center no-repeat; // -- background-size: cover; background-position: center;     background-repeat: no-repeat;

    &__eyebrow {    
        margin-bottom: 1.25rem; /* 20px */ 
    }

    &__title {
        color: var(--color-white);    
        margin-bottom: 2.625rem; /* 42px */
    }

    &__columns {
        display: flex;    
        gap: 1.25rem; /* 20px */
        margin-bottom: 5.125rem; /* 82px */     
    }

    &__list {
        flex: 1;   
        padding-top: 22px;
        padding-left: 40px; 
        padding-right: 40px;    

        &--left {
        background: rgba(17, 19, 25, 0.6);
        backdrop-filter: blur(2px);
        }

        &--right {
        background: linear-gradient(
            180deg,
            rgba(9, 11, 19, 1) 0%,
            rgba(9, 11, 19, 0.2) 100%
        );
        }
    }

    &__item {
        display: flex;
        align-items: center;    
        padding: 1.0625rem 0 0; /* 17px 0 0 */  
    }

    &__name {
        display: flex;
        align-items: center;
        flex: 1; /* ← растягиваем */
    }

    &__line {
        position: relative;
        top: 0.2em; /* поднимаем линию чуть выше, чтобы она была на уровне текста */
        flex-grow: 1;
        height: 1px;
        background: var(--color-text-muted);

        margin: 0 1.375rem 0 1.75rem; /* 0 right: 22px от линии до цены  0 left: 28px от текста до линии */   
    }

    &__text,
    &__price {
        white-space: nowrap;
    }

      /* Оптические корректировки */
    &__list--left &__price {
        margin-right: -0.75rem; /* -12px */
    }

    &__list--right &__name {
        margin-left: -0.625rem; /* -10px */
    }

    .btn {
        display: block;
        margin: 0 auto;
    }

}