.traditional {
    position: relative;
    padding: 7.5625rem 0 8.125rem; /* 121px 0 130px */

    &__wrapper {
    display: flex;
    gap: 8.6875rem; /* 139px расстояние между статистикой и текстом*/
  }

    &__stats {
    display: flex;
    gap: 1.875rem; /* 30px расстояние между рядами статистики*/
    margin-left: 5.75rem; /* 92px */
    margin-top: 15px;
  }

   &__column {
    display: flex;
    flex-direction: column;
    gap: 1.875rem; /* 30px  расстояние между элементами в ряду*/

    &--shift {
      margin-top: 1.875rem; /* 30px сдвиг второго ряда вправо*/
    }
  }


  // -- Карточка
  &__item {
    width: 10.625rem;  /* 170px */
    height: 9.375rem;  /* 150px */

    background: var(--color-white-smoke);

    display: flex;
    flex-direction: column;    
    text-align: center;
  }

  // -- Число
    &__number {
    display: flex;
    align-items: flex-start;

    font-weight: 700;
    font-size: 2.625rem; /* 42px */
    line-height: 1; // -- 1.19
    letter-spacing: 0.05em;
    color: var(--color-text-primary);
    // margin-top: 1.3rem;
    margin-left: 3.5rem;
  }

  // -- Плюс
   &__plus {
    font-size: 1rem; /* 16px */
    font-weight: 600;
    color: var(--color-accent);

    margin-left: 0.1875rem; /* 3px */
    transform: translateY(-0.6rem); /* аккуратный подъём вместо bottom */
  }

  // -- Label
    &__label {
    margin-top: 0.5rem; /* 8px */

    font-weight: 600;
    font-size: 0.6875rem; /* 11px */
    line-height: 1.4;
    color: var(--color-text-primary);
  }

  // -- Контент справа
    &__content {
    max-width: 31.25rem; /* 500px */
    padding-top: 0.625rem; /* 10px */
  }

  &__eyebrow {
    margin-bottom: 1rem; /* 16px */
  }

  &__title {
    max-width: 26.25rem; /* 420px */
    margin-bottom: 1.25rem; /* 20px */
  }

  &__text {
    font-size: 1.125rem; /* 18px */
    line-height: 1.667;
    letter-spacing: 0.02em;
    color: var(--color-text-secondary);
  }
}

.traditional__item--600 {

  .traditional__number {
    padding-top: 0.213rem;  /* 3.308px */
    // padding-left: 3.5625rem; /* 57px */
  }

  .traditional__label {
    padding-top: 0.3rem;  /* 4.8px */
    padding-left: 2.625rem; /* 42px */
    padding-right: 1.375rem; /* 22px */
  }
    
    transform: translateY(0.375rem); 
}

.traditional__item--50 {

  .traditional__number {
    padding-top: 0.9rem; /* 14.4px */
    padding-left: 0.4rem; /* 6.4px */
  }

  .traditional__label {
    padding-top: 0.5rem; /* 8px */
    padding-left: 2.375rem; /* 38px */
    padding-right: 1.25rem; /* 20px */
  }
}

.traditional__item--20 {

  .traditional__number {
    padding-left: 0.388rem; /* 6.2px */
  }

  .traditional__label {
    // padding-top: 0.5rem; /* 8px */
    padding-left: 1.1875rem; /* 19px */
  }
}

.traditional__item--100 {

//   .traditional__number {
//     // padding-top: 0.75rem; /* 12px */
//     // padding-left: 3rem; /* 48px */
//   }

  .traditional__label {
    padding-top: 0.5rem; /* 8px */
    padding-left: 2.375rem; /* 38px */
    padding-right: 1.375rem; /* 22px */
  }
}


