.section-title {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: clamp(2rem, 4vw, 2.625rem);
  letter-spacing: 0.05em;
  line-height: 1.19;
}

.section-title--xl {
  font-size: clamp(3rem, 6vw, 4.5rem);
}

.eyebrow {
  position: relative;
  padding-left: 80px;

  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.6875rem; // 11px
  letter-spacing: 0.11em;
  text-transform: uppercase;
  line-height: 1.2;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    width: 60px;
    height: 1px;
    background: currentColor;
    opacity: 0.5;
  }

  &--dark {
    color: var(--color-text-primary);
  }

  &--muted {
    color: var(--color-text-muted);
  }

  &--white {
    color: var(--color-white);

    &::before {
      opacity: 1;
    }
  }
}

.text {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 0.875rem; // 14px
  line-height: 1.857; /*26 = 26/14 = 1.857*/
  letter-spacing: 0.02em; /*2%*/
}

.text--lg {
  font-size: 1.125rem; // 18px
  line-height: 1.667; /*30 = 30/18 = 1.667*/ 
}

.text--muted {
  color: var(--color-text-muted);
}

.text-sm {
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 0.6875rem;
  letter-spacing: 0.11em;
  text-transform: uppercase;
}