/* 1. Base — фундамент */
@use "./base/reset";
@use "./base/variables";
@use "./base/fonts";
@use "./base/utilities";
@use "./base/base";
@use "./base/mixins";
/* 2. Components — переиспользуемые блоки */
@use "./components/typography";
@use "./components/btn";
/* 3. Utilities / helpers */
@use "./base/debag";
/* 4. Layout — страницы и секции */
@use "./layout/container";
@use "./layout/header";
@use "./layout/hero";
@use "./layout/about";
@use "./layout/services";
@use "./layout/traditional";
@use "./layout/barbers";
@use "./layout/portfolio";
@use "./layout/contacts";
@use "./layout/footer";