.debag-layout::before {
  content: "";
  position: fixed;
  inset: 0;
  z-index: 9999;

  background-image: url("/overlay.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1280px auto;
  opacity: 0.35;
  pointer-events: none;
}

:root {
  --debug-overlay: 0;
}

.debag-layout::before {
  opacity: calc(var(--debug-overlay) * 0.35);
}