@use "../base/mixins" as mixins;
:root {
  --debug-overlay: 1; // глобальный контрол прозрачности
}

/* hero overlay */
.debag-hero {
  @include mixins.debug-overlay("overlay.png");
}

/* about overlay */
.debag-about {
  @include mixins.debug-overlay("overlay-about.png");
}

.debag-services {
  @include mixins.debug-overlay("overlay-services.png");
}

.debag-traditional {
  @include mixins.debug-overlay("overlay-traditional.png");
}

.debag-barbers {
  @include mixins.debug-overlay("overlay-barbers.png");
}

.debag-portfolio {
  @include mixins.debug-overlay("overlay-portfolio.png");
}