/* Open Sans - Regular */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Open Sans - SemiBold */
@font-face {
  font-family: "Open Sans";
  src: url("../assets/fonts/open-sans-semibold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* Raleway - Bold */
@font-face {
  font-family: "Raleway";
  src: url("../assets/fonts/raleway-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}