@mixin debug-overlay($image, $width: 1280px, $opacity: 0.35) {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: 9999;

    background-image: url("/debag/#{$image}");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: #{$width} auto;

    /* глобальный контрол через root-переменную */
    opacity: calc(var(--debug-overlay, 1) * #{$opacity});

    pointer-events: none;
  }
} 