:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-white-smoke: #f7f7f7;
  
  --color-text-primary: #303030; 
  --color-text-secondary: #555555;
  --color-text-muted: #9da4bd; 
  --color-accent: #ff6c00;
}


$breakpoints: (
  desktop: 1280px,
  laptop: 1024px,
  tablet: 768px,
  mobile: 480px,
  mobile-sm: 320px
);